<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/Static/style.css">
    <link rel="stylesheet" href="/Static/bootstrap.css">
    
    <title>delivery</title>
</head>
<body>

    <div class = "sm-nav-par">
        <div class = "container">
            <div class = "row">
                <div class = "col-9 mt-3">
                    <img src="/Static/logo.svg" alt="logo" height="30px">
                </div>
                
                <div class = "col-3 mt-3 align-items-end">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Action
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Home</a></li>
                        <li><a class="dropdown-item" href="#">Reveiw</a></li>
                        <li><a class="dropdown-item" href="#">About us</a></li>
                        <li><a class="dropdown-item" href="#">Contact us</a></li><br>
                        <li><a class="dropdown-item" href="#">Sign up</a></li>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class = "navpar">

        <div class = "row">
                <div  class = "col-4 m-3">
                        <img src="/Static/logo.svg" alt="logo" height="30px">
                </div>
                
                <div class = "col-4">
                    <ul class="nav justify-content-around">
                        <li class="nav-item  mt-3 m-2">
                          <a  aria-current="page" href=""><button class = "btn" style = "background-color: #fc4b1f; color: white;">Home</button></a>
                        </li>
                        <li class="nav-item  mt-2 m-2">
                          <a class="nav-link" href="#"><button class = "btn" style = "background-color: #fc4b1f; color: white">Reveiw</button></a>
                        </li>
                        <li class="nav-item  mt-2 m-2">
                          <a class="nav-link" href="#"><button class = "btn" style = "background-color: #fc4b1f; color: white;">About us</button></a>
                        </li>
                        <li class="nav-item  mt-2 m-2">
                          <a class="nav-link"><button class = "btn" style = "background-color: #fc4b1f; color: white">Contact us</button></a>
                        </li>
                      </ul>

                    </div>

                      <div class="col-3 m-3 text-end">
                        <button class = "btn btn-dark">Sign up</button>
                      </div>
            </div> 
            
        </div>

        <div id = "content" class = "d-flex flex-row flex-wrap justify-content-center" style = "gap: 100px;">

            <div class = "mr-5">

                   <div>
                        <h3 class = "fs-1" style= "font-family: 'Seaweed Script', cursive; color: #ff4415;">Hungry?</h3><br>
                   </div>

                    <div>
                        <h2 class="fs-2">Wait a minute for <br>delicious</h2><br>
                    </div>

                    <div>
                        <p class="fs-4">Best cooks and best delivery guys all at your service. Hot tasty food<br> will reach you in 20mins.</p>
                    </div>

                    <div id = "input1"  class="input-group mb-3">
    
                            <input type="text"  class ="form-control" placeholder="Enter your location">
                            <span class="input-group-text" id="basic-addon2">Descover</span>

                    </div>

                    <span class="fs-3"></span><p>Already member of our communty?<a href="" style=" font-size: 1em; color: #ff4415;">Sign in</a></p></span>
            </div>

                <div>
                    <img src="/Static/header-img.svg" alt="" height = "500px">
                </div>
            
        </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>

            <div class = "row">
                <div class = "col">
                    <h3 class = "fs-2 text-center" style= "font-family: 'Seaweed Script', cursive; color: #ff4415; font-size: 10px">Hungry?</h3><br>
                    <h2 class="fs-1 text-center">Wait a minute for delicious</h2><br>
                </div>
            </div>

            <div class = "d-flex flex-row flex-wrap text-center justify-content-center gap-5">
                <div class = "m-3" style="width: 28rem;">
                    <img src="/Static/fd_dlvry_img1.svg" alt="">
                    <h2>Easy to order</h2><br>
                    <p>n restaurant-controlled online food ordering,<br> the restaurant ..</p>
                </div>

                <div class = "m-3" style="width: 28rem;">
                    <img src="/Static/fd_dlvry_img2.svg" alt="" >
                    <h2>Live order</h2><br>
                    <p>In addition to paying for the food, customers will,<br> often have to pay ..</p>
                </div>

                <div class = "m-3" style="width: 28rem;">
                    <img src="https://www.webhuq.com/templates/food_delivery_landing_10766/assets/img/fd_dlvry_img3.svg" alt="">
                    <h2>Best Quality</h2>
                    <p>Grocery delivery companies will deliver groceries,<br> pre-prep ..</p>
                </div>
            </div>
            <br>
            <br>
            <br>

            <div class = "row">
                <div class = "col mt-5">
                    <h3 class = "fs-2 text-center" style= "font-family: 'Seaweed Script', cursive; color: #ff4415; font-size: 10px">popular menu</h3><br>
                    <h2 class="fs-1 text-center">Wait a minute for delicious</h2><br>
                </div>

            <div class = "d-flex flex-row flex-wrap  justify-content-center gap-5">
                    <div  class = "element" class="card" style="width: 28rem;">
                        <img src="/Static/ftre_fd_dlvry1.svg"  class="card-img-top" alt="" height="200px">
                        <hr>
                        
                        <h2>New York-Style pizza</h2>
                        <p >Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.</p>
                            <div class="row">
                                <div class = "col text-strat">
                                    <h3>14$</h3>
                                </div>

                            
                                <span class = "col">
                                    <img  id = "heart" class = "btn btn" src="/Static/heart.svg" alt="" height="35px" style = "background-color: #fc4b1f;">
                                </span>
                                <span class = "col">
                                    <img id = "share" class = "btn btn-dark" src="/Static/share.svg" alt="" height="35px">
                                </span>
                            
                            </div>
                       
                    </div>

                    <div  class = "element" class="card" style="width: 28rem;">
                        <img src="/Static/ftre_fd_dlvry2.svg"  class="card-img-top" alt="" height="200px">
                        <hr>
                        
                        <h2>Bento Ekiben Makunchi</h2>
                        <p >Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.</p>
                            <div class="row">
                                <div class = "col text-strat">
                                    <h3>11$</h3>
                                </div>
                                <span class = "col">
                                    <img  id = "heart" class = "btn btn" src="/Static/heart.svg" alt="" height="35px" style = "background-color: #fc4b1f;">
                                </span>
                                <span class = "col">
                                    <img id = "share" class = "btn btn-dark" src="/Static/share.svg" alt="" height="35px">
                                </span>
                            </div>
                       
                    </div>


                    <div  class = "element" class="card" style="width: 28rem;">
                        <img src="/Static/ftre_fd_dlvry3.svg"  class="card-img-top" alt="" height="200px">
                        <hr>
                        
                        <h2>Humburger Veggei ..</h2>
                        <p >Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.</p>
                            <div class="row">
                                <div class = "col text-strat">
                                    <h3>10$</h3>
                                </div>
                                <span class = "col">
                                    <img  id = "heart" class = "btn btn" src="/Static/heart.svg" alt="" height="35px" style = "background-color: #fc4b1f;">
                                </span>
                                <span class = "col">
                                    <img id = "share" class = "btn btn-dark" src="/Static/share.svg" alt="" height="35px">
                                </span>
                            </div>
                       
                    </div>




                    <div  class = "element" class="card" style="width: 28rem;">
                        <img src="/Static/ftre_fd_dlvry4.svg"  class="card-img-top" alt="" height="200px">
                        <hr>
                        
                        <h2>Indian Cusine Briyani Buffet</h2>
                        <p >Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.</p>
                            <div class="row">
                                <div class = "col text-strat">
                                    <h3>20$</h3>
                                </div>
                                <span class = "col">
                                    <img  id = "heart" class = "btn" src="/Static/heart.svg" alt="" height="35px" style = "background-color: #fc4b1f;">
                                </span>
                                <span class = "col">
                                    <img id = "share" class = "btn btn-dark" src="/Static/share.svg" alt="" height="35px">
                                </span>
                            </div>
                       
                    </div>


                    <div  class = "element" class="card" style="width: 28rem;">
                        <img src="/Static/ftre_fd_dlvry5.svg"  class="card-img-top" alt="" height="200px">
                        <hr>
                        
                        <h2>Chiken Tikka Buffalo Wing ..</h2>
                        <p >Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.</p>
                            <div class="row">
                                <div class = "col text-strat">
                                    <h3>15$</h3>
                                </div>
                                <span class = "col">
                                    <img  id = "heart" class = "btn" src="/Static/heart.svg" alt="" height="35px" style = "background-color: #fc4b1f;">
                                </span>
                                <span class = "col">
                                    <img id = "share" class = "btn btn-dark" src="/Static/share.svg" alt="" height="35px">
                                </span>
                            </div>
                       
                    </div>



                    <div  class = "element" class="card" style="width: 28rem;">
                        <img src="/Static/ftre_fd_dlvry6.svg"  class="card-img-top" alt="" height="200px">
                        <hr>
                        
                        <h2>Fsish Fry Shashik Freid Fish ..</h2>
                        <p >Lorem Ipsum Lorem Ipsum is simply and dummy text of the printing.</p>
                            <div class="row">
                                <div class = "col text-strat">
                                    <h3>16$</h3>
                                </div>
                                <span class = "col">
                                    <img  id = "heart" class = "btn btn-danger" src="/Static/heart.svg" alt="" height="35px" style = "background-color: #fc4b1f;">
                                </span>
                                <span class = "col">
                                    <img id = "share" class = "btn btn-dark" src="/Static/share.svg" alt="" height="35px">
                                </span>
                            </div>
                       
                    </div>

                    
                </div>

                <br>
                <br>
                <div class = "text-center mt-5 mb-5">
                    <button class = "btn btn-dark" style="width: 10rem;">Veiw more</button> 
                </div>

            </div>
               


                <div class = "mb-5">
                    <div class = "mt-5 mb-5">
                            <h3 class = "fs-2 text-center" style= "font-family: 'Seaweed Script', cursive; color: #ff4415; font-size: 10px">Newar me</h3><br>
                            <h2 class=" fs-1 text-center">Wait a minute for delicious</h2><br>
                            <p class = "fs-6 text-center">Best cooks and best delivery guys all at your service. Hot tasty food will reach you in 20mins.</p>
                    </div>
                </div>

            <div class = "d-flex flex-row flex-wrap justify-content-center" style = "gap: 80px;">

                
                    <div class = "card" style="width: 28rem; height: 30rem;">
                        <img class = "card-img-top" src="https://www.webhuq.com/templates/food_delivery_landing_10766/assets/img/fd_dlvry_img4.svg" alt="" height = "265px">
                        <div class = "card-body">
                        <h2>Riders</h2>
                        <p>We store the vast majority of the digital assets in secure ..</p>
                        <button class = "btn" style="width: 8rem; background-color: #fc4b1f; color: white;">Apply Now</button>
                       </div>
                    </div>
               
                    <div class = "card" style="width: 28rem; height: 30rem;">
                        <img class = "card-img-top" src="/Static/fd_dlvry_img5.svg" alt="" height = "265px">
                      <div class = "card-body">
                        <h2>Restaurants</h2>
                        <p>We store the vast majority of the digital assets in secure ..</p>
                        <button class = "btn" style="width: 8rem; background-color: #fc4b1f; color: white;" >Apply Now</button>
                      </div>
                    </div>


                    <div class = "card" style="width: 28rem; height: 30rem;">
                        <img class = "card-img-top" src="/Static/fd_dlvry_img6.svg" alt="" height = "265px">
                      <div class = "card-body">
                        <h2>Community</h2>
                        <p>We store the vast majority of the digital assets in secure ..</p>
                        <button class = "btn " style="width: 8rem; background-color: #fc4b1f; color: white;">Apply Now</button>
                      </div>
                    </div>
            </div>  
            
        
        </div>

        <div class = "container">

        <div class = "d-flex flex-row flex-wrap justify-content-around mt-5">

                <div>
                        
                    <img src="/Static/fd_dlvry_app_img.svg" alt="">

                </div>

                <div class = "mt-5 p-5">
                    <h2 class = "mb-3"><strong>Have you got our app?</strong></h2>
                    <p class = "mb-4">Best cooks and best delivery guys all at your service. Hot tasty food</p>
                    <div class = "row">
                        <div class = "col-4 m-2">
                            <div class = "appstore">
                                <img class = "p-3" src="/Static/app-store-ios-svgrepo-com.svg" alt="" height="70px">
                                <p class = "fs-6" style="display: inline;">App store</p>
                            </div>
                        </div>

                        <div class = "col-4 m-2">
                            <div class = "appstore">
                                <img class = "p-3" src="/Static/play-store-svgrepo-com.svg" alt="" height="70px">
                                <p class = "fs-6" style="display: inline;">Play store</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        <br>
        <br>

        <div id = "bottom" class = "d-flex flex-row flex-wrap align-items-center justify-content-center mt-5 mb-5">
            
            <div>
                <h2 class = "text-light">Subscribe newsletter</h2>
                <p class = "text-light">Best cooks and best delivery guys all at your service. Hot tasty food</p>
            </div>

            <div>
                <div id = "form" class="input-group mb-2">
                    <input type="text"  class ="form-control" placeholder="Enter your location">
                    <span class="input-group-text" id="basic-addon2">Descover</span>
                </div>
            </div>
        </div>

        <div class = "container">

    <div>
        <h2 class = "fs-1">Popular countries with us</h2><br>
    </div>
        <div class = "row">
            <div class = "col-4 col-md-2 col-lg-3">
                <ul class = "list">
                    <li>Egypt</li>
                    <li>Spain</li>
                    <li>Brazil</li>
                    <li>Mexico</li>
                    <li>Japan</li>
                </ul>
            </div>

            <div class = "col-6 col-md-4 col-lg-3">
                <ul class = "list">
                    <li>Canada</li>
                    <li>Australia</li>
                    <li>Poland</li>
                    <li>United Kingdom</li>
                    <li>Italy</li>
                </ul>
            </div>
            <div class = "col-4 col-md-4 col-lg-3">
                <ul class = "list">
                    <li>Switzerland</li>
                    <li>Chile</li>
                    <li>New Zealand</li>
                    <li>Tiwan (ROC)</li>
                    <li>South Africa</li>
                </ul>   
            </div>
            <div class = "col-4 col-md-4 col-lg-3">
                <ul class = "list">
                    <li>Ecuador</li>
                    <li>Ireland</li>
                    <li>Sri Lanka</li>
                    <li>Dominican Republic</li>
                    <li>Sweden</li>
                </ul>
            </div>
    
        </div>
    </div>

    <div class="f-background">
    <div class = "container">
    <div class = "footer">
        <div class = "row">
            <div class = "col-lg-4 col-md-3">
                <img class = "mb-3" src="/Static/logo.svg" alt="">
                <p>Retail food delivery is a courier service in which a restaurant, store, or independent food-delivery</p>
            </div>

            <div class = "col-lg-2 col-md-3">
                <h2 class="mb-3 fs-4" style="color: #333;">Company</h2>
                <p>About</p>
                <p>Terms of Use</p>
                <p>Privacy Policy</p>
                <p>How it Works</p>
                <p>Cotact Us</p>
            </div>

            <div class = "col-lg-2 col-md-2">
                <h2 class="mb-3 fs-4" style="color: #333;">Get Help</h2>
                <p>Support Carrer</p>
                <p>24h Service</p>
                <p>Quick Chat</p>
            </div>

            <div class = "col-lg-2 col-md-2">
                <h2 class="fs-4" style="color: #333;">Support</h2>
                <p>FAQ</p>
                <p>Policy</p>
                <p>Business</p>
            </div>

            <div class = "col-lg-2 col-md-2">
                <h2 class="mb-3 fs-4" style="color: #333;">Contact</h2>
                <p>WhatsApp</p>
                <p>Support 24</p>
            </div>

    </div>
    </div>
    </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

</html>